/* === RESET === */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.feature-icon {
  font-size: 18px;
  color: var(--accent-color);
  margin-right: 8px;
}

/* === THEME VARS === */
.page-wrapper.light.premium {
  --bg: #ede5d8;
  --card-bg: #1db9541c;
  --button-bg: #e7e0d5;
  --text: #241d14;
  --text2: #88704b;
}

.page-wrapper.light.standard {
  --bg: #ede5d8;
  --card-bg: #f39d121f;
  --button-bg: #e7e0d5;
  --text: #5a482e;
  --text2: #88704b;
}

.page-wrapper.dark.standard {
  --bg: #222222;
  --card-bg: #f39d121f;
  --button-bg: #222222;
  --text: rgba(255,255,255,0.95);
  --text2: #88704b;
}

.page-wrapper.dark.premium {
  --bg: #222222;
  --card-bg: #1db9541c;
  --button-bg: #222222;
  --text: rgba(255,255,255,0.95);
  --text2: #88704b;
}

/* === PAGE === */
.page-wrapper {
  min-height: 100vh;
  background: var(--bg);
  padding: 20px;
}

/* === CARD === */
.plan-card {
  background: var(--card-bg);
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 20px;
}

.plan-card.standard {
  border: 2px solid #f39c12;
}

.plan-card.premium {
  border: 2px solid #1db954;
}

.plan-header {
  font-size: 15px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 20px;
}

.plan-list-short {
  font-size: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text);
}

.plan-list {
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text);
}

.plan-list li {
  margin-bottom: 10px;
}

.plan-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.plan-buttons button {
  flex: 1;
  padding: 12px 0;
  border-radius: 40px;
  border: none;
  background: var(--button-bg);
  color: var(--text2);
  font-weight: 700;
  cursor: pointer;
}

.plan-header-wrapper {
  margin-bottom: 20px;
}

.plan-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 18px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;

  border: 2px solid;
}

.plan-badge.standard {
  border-color: #f59e0b;
  color: #f59e0b;
  background: rgba(245, 158, 11, 0.1);
}

.plan-badge.premium {
  border-color: #22c55e;
  color: #22c55e;
  background: rgba(34, 197, 94, 0.1);
}

.badge-icon {
  font-size: 18px;
}

.plan-buttons button {
  box-shadow:
  0 4px 10px rgba(0,0,0,0.15),
  0 2px 4px rgba(0,0,0,0.1);
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.feature-item .icon {
  flex-shrink: 0;
  width: 20px;
  margin-top: 3px;
}

.feature-item .text {
  flex: 1;
}
